@using MoGYSD.Business.Persistence
<a href="@Page" class="mud-button-root pull-left mud-button mud-button-filled mud-button-filled-default mud-button-filled-size-medium mud-ripple pull-left">
    <i class="bi bi-skip-backward-circle me-2"></i> <span class="mud-button-label">Back</span>
</a>

@code {
    [Parameter]
    public string Page { get; set; } = "";

}