@page "/Account/ForgotPasswordConfirmation"
@using MoGYSD.Business.Persistence

<PageTitle>Forgot password confirmation</PageTitle>

<h1>Forgot password confirmation</h1>
<p role="alert">
    Please check your email to reset your password.
</p>
