@page "/Account/InvalidPasswordReset"
@using MoGYSD.Business.Persistence

<PageTitle>Invalid password reset</PageTitle>

<h1>Invalid password reset</h1>
<p role="alert">
    The password reset link is invalid.
</p>
