@page "/Account/ResetPasswordConfirmation"
@using MoGYSD.Business.Persistence
<PageTitle>Reset password confirmation</PageTitle>

<h1>Reset password confirmation</h1>
<p role="alert">
    <a href="Account/Login" @onclick="FullReloadLogin">click here to log in</a>
</p>

@code {
    private void FullReloadLogin(MouseEventArgs e)
    {
        Navigation.NavigateTo("Account/Login", forceLoad: true);
    }
}